################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeAtion/homeation_remotedht/Debug
/HomeAtion/homeation_remotedht/__vm
*.suo
/HomeAtion/homeation_remotedht_clientonly/__vm
/HomeAtion/homeation_remotedht_clientonly/Debug
/HomeAtion/homeation_remotedhtledbuzz/Debug
/HomeAtion/homeation_remotedhtledbuzz/__vm
